@import normalize
@import compass/css3

// Make sure <body> is always as tall as the window
html
  height: 100%
body
  min-height: 100%

.paneful
  margin: 0
  padding: 0
  list-style: none
  position: absolute
  top: 0
  left: 0
  background: pink
  width: 20%
  overflow: hidden
  margin-left: -20%
  @include transition(margin-left 300ms)

.paneful-page-wrap
  @include transition(margin-left 300ms)


.panefulToggle
  &:checked

    + .paneful
      margin-left: 0

    ~ .paneful-page-wrap
      margin-left: 20%
